%li=link_to('Workload', workload_path, :class => 'picturelink workload_view')
%li= link_to('Hot map', hotmap_path, :class => 'picturelink hotmap_view')
%li= link_to('Calendar', calendar_path, :class => 'picturelink calendar_view')
%li= link_to('Collage', collage_path, :class => 'picturelink collage_view')
%li= link_to('Statistics', my_statistics_path, :class => 'picturelink statistics_view')
%li= link_to('Print outs', print_path, :class => 'picturelink print_view')