%h3= link_to_person(session[:person], 'picturelink')
%ul
  %li
    %a.picturelink.preferences{:href => '/admin/preferences'} Preferences
  %li
    %a.picturelink.help_centre{:href => '/admin/help'} Help centre
  %li= link_to('Log out', logout_path, :class => 'picturelink logout')
    
  %form#dont_focus
  
  %li
    %form#global_search{:action => '/home/search', :method => 'post'}
      %span.picturelink.search
        %input{:type => 'text', :name => 'search', :style => 'width:100px;', :value => 'Search', :onclick => "if(this.value=='Search') {this.value='';}"}
        %input{:type => 'hidden', :name => 'searchin', :value => 'people, teams, tips, lists, tasks'}
        %input{:type => 'hidden', :name => 'limit', :value => '10'}


%h3 Views
%ul
  %li= link_to('Workload', workload_path, :class => 'picturelink workload_view')
  %li= link_to('Hot map', hotmap_path, :class => 'picturelink hotmap_view')
  %li= link_to('Calendar', calendar_path, :class => 'picturelink calendar_view')
  %li= link_to('Collage', collage_path, :class => 'picturelink collage_view')
  %li= link_to('Statistics', my_statistics_path, :class => 'picturelink statistics_view')
  %li= link_to('Print outs', print_path, :class => 'picturelink print_view')


%h3 My teams
%ul
  - @my_teams = find_my_teams
  - @my_teams.each do |team|
    %li
      = link_to_team(team, 'picturelink')
      = image_tag('/images/icons/expand.png', :id => "expand-collapse-#{team.id}", :class => 'expand-collapse', :alt => 'click to show lists', :title => 'click to show lists', :onclick => "expand_collapse_team(#{team.id});")
      %ul{:id => "lists-for-team-#{team.id}", :style => 'display:none;'}
        %li
          = image_tag('/images/spinner.gif')

%h3 Create
%ul
  %li= link_to('New team', new_team_path, :class => 'picturelink team_add')
  %li
    %a.picturelink.list_add{:href => '/lists/new'} New list
  %li
    %a.picturelink.task_add{:href => '/tasks/new'} New task
  %li
    %a.picturelink.task_quickadd{:href => '/tasks/quickcreate'} Quick-create
